/*共通のレイアウト*/
/*タブレット向けレイアウト*/
@media all and (max-width:1000px){
  /*共通*/
.container {
   max-width: 600px;
   width: 100%;
   margin: 0 auto;
  }
/*top*/
#top-section {
  width: 100%;
  margin: 0 auto;
}

h1{
  font-size:48px;
}

#m-top-img{
  max-width: 226px;
  margin: 0 auto;
}

#m-top-img img {
  width: 100%;
  height: auto;
  text-align: center;
}

nav {
  display: table;
  width: 100%;
  padding: 50px 0 100px 0;
  margin:0 auto;
}

nav li {
  display:table-cell;
  text-align: center;
}


nav a {
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}

footer p {
  font-size: 16px;

}
  /*sakuhin*/
  header {
    width: 100%;
    height:
  }
  .header-left {
    padding-left: 10px;
    padding-bottom: 0;
    margin: 0;
  }

  .header-left h5 {
    font-size: 10px;
  }

  .right-menu {
    padding-right: 5px;
    margin: 0;
    padding-top: 0;
  }

  .right-menu li {
    padding-left: 7px;
    padding-right: 7px;
  }

  .right-menu li a {
    font-size: 8px;
    letter-spacing: 2px;
  }

#sakuhin-section {
  width: 80%;
  margin: 0 auto;
}

.section-title{
   width: 100%;
   margin: 0 auto;
}

#s-top-img {
  max-width: 250px;
  margin: 0 auto;

}
  .section-title img {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .section-title h3{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 50px;
  }

  .photo-box-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .photo-box {
    width: 100%;
    margin: 0 auto;
  }

  .photo-box h4 {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .photo-g a img {
    width: 20%;
    max-width: 140px;
  }
  /*photo*/
  .bxslider li {
    height: 480px;
  }

#news-section {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
}

dl.news-box dt {
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 80px;
  }

  dl.news-box dd {
      margin-bottom: 7px;
      padding: 0 0 7px 100px;
}

  .iframe-wrapper {
    width: 80%;
}
 }

/*モバイル向けレイアウト*/
@media all and (max-width:670px){

  .container {
     max-width: 300px;
     width: 100%;
     margin: 0 auto;
    }

  #top-section {
    width: 80%;
    margin: 0 auto;
  }

  nav {
    position: absolute;
    left: 0;
    top: -300px;
    background:rgba(255,255,255,.9);
    width: 50%;
    height: 200px;
    padding: 0 10px;
    text-align: right;
  }

  nav ul{
    margin: 0;
  }

  nav ul li{
    display:block;
    width: 100%;
    margin: 0;
    border-bottom: dotted 1px #fff;
    line-height: 3;
  }

  nav ul li a {
    display:block;
    color: black;
    font-size:16px;
    padding: 0;
  }

  nav ul li:last-child{
    border-bottom: none;
  }

  #navToggle {
    display:block;
  }

  .openNav #navToggle span:nth-child(1){
    top: 11px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }

  .openNav #navToggle span:nth-child(2),
  .openNav #navToggle span:nth-child(3){
    top: 11px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
  }

  .openNav nav {
    -moz-transform: translateY(351px);
    -webkit-transform: translateY(351px);
    transform: translateY(351px)
  }


  h1{
    font-size:36px;
  }

  #m-top-img{
    max-width: 174px;
    margin: 0 auto;
  }

  #m-top-img img {
    width: 100%;
    height: auto;
    text-align: center;
  }

  footer p {
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 10px;
  }
/*sakuhin*/

.right-menu li a {
  font-size: 8px;
}

  .section-title{
     width: 100%;
     margin: 0 auto;
  }

  #s-top-img {
    max-width: 150px;
  }

  .section-title img {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
  }

    .section-title h3{
      font-size: 28px;
      padding-bottom: 40px;
    }

    .photo-box-wrapper {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 40px;
    }

    .photo-box {
      width: 100%;
      margin: 0 auto;
    }

    .photo-box h4 {
      font-size: 20px;
      padding-bottom: 30px;
    }

    .photo-g a img {
      width: 35%;
      max-width: 140%;
    }
/*photo*/
    .photo-section {
      width:100%;
      height: auto;
      padding-bottom: 30px;
    }

    .bxslider li {
      height: 400px;
    }

    #bx-pager {
      display: none;
    }

    #bx-pager-mob {
      display: block;
      text-align: center;
      padding-top: 0;
      margin-top: 0;
    }

    .return-btn {
      font-size: 14px;
      padding-right: 0px;
    }

    .p_copyright p {
      padding-top: 20px;
      font-size :10px;
  }

  #keireki-section {
    font-size: 8px;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .k-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .k_copyright p{
    font-size: 6px;
  }

  #news-section {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 10px;
  }
  dl.news-box {
      width:100%;
    }

  dl.news-box dt {
      margin-bottom: 5px;
      padding-bottom: 5px;
      width: 30px;
    }

    dl.news-box dd {
        margin-bottom: 5px;
        padding: 0 0 5px 50px;
  }

  .iframe-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

   .iframe-wrapper iflame {
     width: 100%;
     height:auto;
  }

}
